
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    display: flex;
    width: 1158px;
    margin: 0;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.logo {
    color: #4d5ae5;
        font-family: Raleway, sans-serif; 
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}
.logo-half {
    color:  #2e2f42;
}


.page-header {
        justify-content: center;
        flex-shrink: 0;
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
            background: var(--WHITE, #FFF);
}
.menu {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
        
}
.main-nav {
    display: flex;
    align-items: center;
}
.menu-item {
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
}
.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}
.address-info {
    font-style: normal;
    display: flex;
    gap: 40px;
}
.address-list {
display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.address-list-item {
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.02em;
}
.address-list-item:hover,
.address-list-item:focus {
    color: var(--SLATE, #404BBF);
    font-family: Roboto,
        serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.02em;
}
.section-one {
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 188px 0;

}
.section-one-container {
padding: 188px 0;
}
.header-one {
        /* Header 1 */
        font-family: Roboto,
            serif;
        font-size: 56px;
        font-weight: bold;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFF;
        max-width: 496px;

}
.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: var(--IRIS, #4D5AE5);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button:hover,
.button:focus {
            background: var(--OCEAN, #404BBF);
}
.header-three {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto,
            serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.section-two {
    padding: 120px 0;
}
.section-two-container {
padding: 120px 0;
}
.header-two {
    visibility: hidden;
}
.section-two-list {
    display: flex;
        align-items: flex-start;
        gap: 24px;
}
.section-two-list-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 8px;
}
.section-two-text {
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto,
            serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-team {
    line-height: 1.11;
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0;
}
.header-team {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-family: Roboto,
            serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-list {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}
.item-one {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-container {
    padding: 32px 0;
    
}
.team {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 3 */
        font-family: Roboto,
            serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px
}
.team-work {
    color: var(--SLATE, #434455);
        text-align: center;
    
        /* Body */
        font-family: Roboto,
            serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.section-three {
    padding-top: 120px;
        padding-bottom: 120px;
}
.header-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-family: Roboto,
            serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-list-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.second-header-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto,
            serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.portfolio-description {
color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto,
        serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-one {
    background-color: #2E2F42;
}
.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-half-footer {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-text {
color: #F4F4FD;

    /* Body */
    font-family: Roboto,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


